@import url(./__topmenu/header-menu__topmenu.css);
@import url(./__item/header-menu__item.css);
@import url(./__link/header-menu__link.css);

.header-menu {
  font-family: "Inter-Bold", Arial, sans-serif;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
