.main {
  font-family: "Inter-Bold", Arial, sans-serif;
  line-height: 3rem;
  background-color: #00b19d;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex: auto;
}

@media (max-width: 500px) {
  .main {
    padding: 20px;
  }
}
