.main__img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  font-family: "Inter-Bold", Arial, sans-serif;
  color: #000;
  text-align: center;
  min-height: 3em;
  display: block;
}
