.add-button {
  background-image: url(../../../images/task12/plus.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  max-width: 150px;
  width: 100vh;
  height: 50px;
  outline: none;
  border-radius: 2px;
  border: none;
  -webkit-transition: opacity linear 0.5s;
  -o-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.add-button:hover {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
