@font-face {
  font-family: "Proxima Nova Rg";
  src: url(../fonts/ProximaNova-Regular/ProximaNova-Regular.eot);
  src: url(../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/ProximaNova-Regular/ProximaNova-Regular.eot)
      format("embedded-opentype"),
    url(../fonts/ProximaNova-Regular/ProximaNova-Regular.woff) format("woff"),
    url(../fonts/ProximaNova-Regular/ProximaNova-Regular.woff2) format("woff2"),
    url(../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./ProximaNova-Bold/proxima_nova_bold.eot");
  src: url("./ProximaNova-Bold/proxima_nova_bold.eot?#iefix")
      format("embedded-opentype"),
    url("./ProximaNova-Bold/proxima_nova_bold.woff") format("woff"),
    url("./ProximaNova-Bold/proxima_nova_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
