.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
