@import url(./__title/main__title.css);
@import url(./__img/main__img.css);

.main {
  max-width: 1280px;
  font-family: "Inter-Bold", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex: auto;
}
