@import url(./__img/info__img.css);
@import url(./__title/info__title.css);

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 1rem;
}
