@import url(./_first/screen_first.css);
@import url(./_second/screen_second.css);
@import url(./_third/screen_third.css);

.screen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 600px;
}
