.layer {
  background-image: url(../../../images/task11/layer-3.jpg);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 568px;
  height: 565px;
  top: 34px;
  right: 227px;
}
